<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All brand</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body th:style="'background-image:url(' + @{/img/0Jrvgf38V8.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div class="container m-top">
<!--<div th:each="entry : ${modelMap.keySet()}">-->

<!--    <a  th:href="@{/suggestHtml/{brand}/{model}( model=${entry.value}, brand=${brandTemp} )}"-->
<!--        th:text="${entry.value}"> VALUE-->
<!--    </a>-->
<!--</div>-->
<form method="get" th:action="@{/suggest/{brand}/{model}(brand=${brandT})}" >

    <select name="model" >
        <option value=""> Выберете модель </option>
        <option th:each="entry : ${modelMap.entrySet()}"
                th:value= "${entry.value}"
                th:utext="${entry.key}">
    </select>

    <button type="submit"> Подтвердить </button>
</form>




</body>
</html>