<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>


<body th:style="'background-image:url(' + @{/img/0Jrvgf38V8.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
<div class="container m-top">


<p th:if="${recommendMy.getPrice().empty}"> Для уточнения стоимости данной работы свяжитесь с нами по телефону ... </p>
<p4 th:if="not ${recommendMy.getPrice().empty}" >Стоимость работ по замене данной детали</p4>
<span th:utext="${recommendMy.getPrice()}"> </span>
<p40 th:if="not ${recommendMy.getPrice().empty}" > Рублей </p40>

<!--<a th:href="@{/suggest}"> Вернуться назад </a>-->

</div>

</body>


</html>