<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Формат JSON</title>

    <script src="/path/to/cdn/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>

    <script>

 alert( 'Привет, мир1!' );
$.ajax({
url: '/suggest/',
method: 'get',
dataType: 'json',
success: function(data){
alert(data.text);    /* выведет "Текст" */
alert(data.error);   /* выведет "Ошибка" */
var temp = data;
}

});

var $select = $('#down');
 $select.find('option').remove();
$.each(temp,function(key, value)
{
    $select.append('<option value=' + key + '>' + value + '</option>');
});

</script>

    <script>
     alert( 'Привет, мир!3' );
    document.body.style.background = 'red';

    var temp = {"1" : "string1","2" : "string2"};
    var $select = $('#down');
 $select.find('option').remove();
$.each(temp,function(key, value)
{
    $select.append('<option value=' + key + '>' + value + '</option>');
});
    </script>

</head>
<body>

<select th:field="*{countryId}">
    <option value=""> -- </option>
    <option th:each="key : ${BM.keySet()}"
            th:value="${key}"
            th:utext="${BM.get(key)}">
    </option>
</select>



 <label>Укажите бренд</label>
<select name="brand" id="brandKey">
    <option value="0" selected="selected"></option>
</select>


 <label>Тестовый 2</label>
 <select id="down">
     <option value="">select</option>
 </select>


 <label>Укажите модель</label>
 <select name="model">
     <option value="0" ></option>
 </select>

 <select name="select-1"
         id="select-1"
         data-url="/"
         data-autoload="true"
         data-value="country"
         data-text="name">
 </select>

 <select name="select-2"
         id="select-2"
         data-url="provinces.json"
         data-autoload="false"
         data-parent="#select-1"
         data-value="country"
         data-text="name">
 </select>

 <label>Тестовый</label>
 <select id="locality-dropdown" name="locality">
 </select>

</body>

</html>